<launch>
  <master auto="start"/>

  <!--- include sensor launch - bring up the Kinect -->
  <include file="$(find atrv_mini_pkg)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="scan_processing" value="true" />
  </include>
  <!--- Run AMCL using differential drive version, as ATRV Mini can't move sideways -->
  <include file="$(find atrv_mini_pkg)/launch/include/amcl_diff.launch" />
  <!--- start up the move_base node with all the parameters -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> 
    <rosparam file="$(find atrv_mini_pkg)/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find atrv_mini_pkg)/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find atrv_mini_pkg)/nav/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find atrv_mini_pkg)/nav/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find atrv_mini_pkg)/nav/base_local_planner_params.yaml" command="load" />
    
    <!-- remap topics for atrv_mini -->
    <remap from="/odom" to="/ATRVmini_node/odom"/>
    <remap from="/cmd_vel" to="/ATRVmini_node/cmd_vel"/>
  </node>

</launch>